@font-face {
    font-family: 'apple_regular';
    src: url("./font/appleiioldschool-webfont.woff2") format('woff2'),
         url("./font/appleiioldschool-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    max-width:1400px;
    margin:auto;
    font-family: 'apple_regular';
}

.centered{
   margin-left:auto;
   margin-right: auto;
}

.leftInfo{
    font-size: 70%;
}

.fenetre{
    position:relative;
    height:600px;
    border-radius: 8px;
    border:2px solid black;
    display:inline-flex;
}

#avion{
    display:inline-block;
    position:absolute;
    z-index: 99;
}

#bomb{
    display:inline-block;
    position:absolute;
    z-index: 10;
    
}

.building{
    display:inline-block;
    position:absolute;
    bottom:0px;
    z-index: 1;
    border:4px solid black;
    font-size: 70%;
}

.startMessage{
    display:inline-flex;
    position:absolute;
    width:100%;
    bottom:70%;
    margin:auto;
    justify-content: center;
    z-index:99;
}